<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>view image test</title>
</head>
<body>
    <div>
        <form action="/view" method="POST" enctype="multipart/body-data">
                <label for="id">Get image by id</label>
                <input type="text" id="id" 
                       name="id" value="" required>
            </div>
            <div>
                <button type="submit">Submit</button>
            </div>
        </form>
    </div>
</body>
</html>